<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="./../css/experience.css">
    <link rel="icon" href="../img/OSCP.png" type="image/jpeg">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script type="module" src="./../js/experience.js"></script>
</head>
<body>

    <div class="menu" id="menu">
        <img class="img-nav" src="./../img/close-gray.png" alt="" id="close">
        <a class="a-nav" href="./../index.html">Hello</a>
        <a class="a-nav" href="./writeups.html">Writeups</a>
        <a class="a-nav" href="./blog.html">Blogs</a>
    </div>

    <main class="div-1200">
        <nav id="desktop">
            <div class="div-nav">
                <a href="./../index.html">
                    <img class="img-nav" src="./../img/home-gray.png" alt="" id="home">
                </a>
            </div>
            <div class="div-nav">
                <a class="a-nav" href="./../index.html">Hello</a>
                <a class="a-nav" href="./writeups.html">Writeups</a>
                <a class="a-nav" href="./blog.html">Blogs</a>
                <p class="a-nav">|</p>
                <div>
                    <img class="img-nav" src="./../img/mode-gray.png" alt="" id="mode-gray">
                </div>
            </div>
        </nav>
        
        <nav id="movile">
            <div class="div-nav">
                <img class="img-nav" src="./../img/burger-gray.png" alt="" id="burger">
            </div>
            <div class="div-nav">
                <img class="img-nav" src="./../img/mode-gray.png" alt="" id="mode-movile">
            </div>
        </nav>
    </main>

    <div class="div-1200 content" id="post-content">
        
    </div>

    <script>
        function loadMarkdown(file) {
                fetch(file)
                    .then(response => response.text())
                    .then(markdown => {
                        // Oculta la lista de posts y muestra el contenido del markdown
                        document.getElementById('post-content').innerHTML = marked.parse(markdown);

                        // Desplazarse al inicio de la pantalla de forma suave
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                })
            .catch(error => console.error('Error al cargar el Markdown:', error));
        }

        loadMarkdown("oscp-preparation.md")
    </script>
</body>
</html>