<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writeups - YukaFake</title>
    <link rel="stylesheet" href="../css/blog-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <style>
        .post {
            display: flex;
            align-items: center;
            background-color: #333;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 10px;
        }
        .post img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 15px;
        }
        .post-content {
            display: flex;
            flex-direction: column;
        }
        .translate-button {
            margin-top: 10px;
            padding: 5px 10px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <nav>
        <div class="menu-icon" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </div>
        <ul id="nav-links">
            <li><a href="../index.html" onclick="loadPage(event, '../index.html')">_hello</a></li>
            <li><a href="writeups.html" onclick="loadPage(event, 'writeups.html')">_writeups</a></li>
            <li><a href="blog.html" onclick="loadPage(event, 'blog.html')">_blog</a></li>
        </ul>
    </nav>

    <header>
        <div class="content">
            <h1>Writeups</h1>
            <p>¡Bienvenido a la sección de Writeups! Espero que encuentres algo interesante y educativo aquí.</p>
        </div>
    </header>

    <main id="writeups-main">
        <div class="blog-posts">
            <div class="post" data-id="2">
                <img src="../img/Access/accesso_log.png" alt="HTB Access">
                <div class="post-content">
                    <h2>HTB - Access</h2>
                    <p class="excerpt">Access es una máquina de dificultades, que pone de relieve cómo las máquinas asociadas a la seguridad física de un entorno pueden no ser seguras en sí mismas. También se destaca cómo FTP / archivos compartidos accesibles a menudo puede conducir a conseguir un punto de apoyo o movimiento lateral. Enseña técnicas para identificar y explotar las credenciales guardadas.</p>
                    <a href="#" class="read-more" onclick="loadMarkdown(event, 'Access.md')">Read More</a>
                </div>
            </div>
                <div class="post" data-id="3">
                <img src="../img/Active/log.png" alt="HTB Active">
                <div class="post-content">
                    <h2>HTB - Active</h2>
                    <p class="excerpt">Active es una máquina de dificultad fácil a media, que presenta dos técnicas muy frecuentes para obtener privilegios dentro de un entorno Active Directory.</p>
                    <a href="#" class="read-more" onclick="loadMarkdown(event, 'Active.md')">Read More</a>
                </div>
            </div>
                <div class="post" data-id="2">
                <img src="../img/Forest/logo.png" alt="HTB Forest">
                <div class="post-content">
                    <h2>HTB - Forest</h2>
                    <p class="excerpt">Forest en un Controlador de Dominio Windows (DC) de fácil dificultad, para un dominio en el que se ha instalado Exchange Server. Se descubre que el DC permite enlaces LDAP anónimos, que se utilizan para enumerar objetos de dominio. La contraseña de una cuenta de servicio con la preautenticación Kerberos deshabilitada puede ser crackeada para obtener un punto de apoyo. Se descubre que la cuenta de servicio es miembro del grupo Operadores de cuentas, que puede utilizarse para añadir usuarios a grupos privilegiados de Exchange. La pertenencia al grupo Exchange se aprovecha para obtener privilegios DCSync en el dominio y volcar los hashes NTLM.</p>
                    <a href="#" class="read-more" onclick="loadMarkdown(event, 'Forest.md')">Read More</a>
                </div>
                </div>
                <div class="post" data-id="2">
                <img src="../img/Jeeves/logo.png" alt="HTB Access">
                <div class="post-content">
                    <h2>HTB - Jeeves</h2>
                    <p class="excerpt">Jeeves no es excesivamente complicado, sin embargo se centra en algunas técnicas interesantes y proporciona una gran experiencia de aprendizaje. Como el uso de flujos de datos alternativos no es muy común, algunos usuarios pueden tener dificultades para localizar la ruta de escalado correcta.</p>
                    <a href="#" class="read-more" onclick="loadMarkdown(event, 'Jeeves.md')">Read More</a>
                </div>
            </div>
                <div class="post" data-id="2">
                <img src="../img/Manager/logo.png" alt="HTB Access">
                <div class="post-content">
                    <h2>HTB - Manager</h2>
                    <p class="excerpt">Manager es una máquina Windows de dificultad media que aloja un entorno Active Directory con AD CS (Active Directory Certificate Services), un servidor web y un servidor SQL. El punto de apoyo consiste en enumerar los usuarios utilizando el ciclo RID y realizar un ataque de rociado de contraseñas para obtener acceso al servicio MSSQL. A continuación, se utiliza el procedimiento `xp_dirtree` para explorar el sistema de archivos, descubriendo una copia de seguridad del sitio web en la raíz web. La extracción de la copia de seguridad revela credenciales que se reutilizan para WinRM en el servidor. Finalmente, el atacante escala privilegios a través de AD CS mediante la explotación ESC7.</p>
                    <a href="#" class="read-more" onclick="loadMarkdown(event, 'Manager.md')">Read More</a>
                </div>
            </div>
                        <div class="post" data-id="2">
                <img src="../img/Heist/logo.png" alt="HTB Heist">
                <div class="post-content">
                    <h2>HTB - Heist</h2>
                    <p class="excerpt">Heist es una caja Windows de fácil dificultad con un portal accesible en el servidor web, desde el que es posible obtener hashes de contraseñas de Cisco. Estos hashes se descifran y, a continuación, se utilizan la fuerza bruta RID y la pulverización de contraseñas para obtener acceso a la máquina. Se descubre que el usuario ejecuta Firefox. Se puede volcar el proceso firefox.exe y buscar la contraseña del administrador.</p>
                    <a href="#" class="read-more" onclick="loadMarkdown(event, 'Heist.md')">Read More</a>
                </div>
            </div>
        </div> 

        <div id="full-post" style="display: none;">
            <a href="#" onclick="hideMarkdown()" class="back-button">⬅ Volver</a>
            <button class="translate-button" onclick="translatePost()">Translate to English</button>
            <div id="post-content" class="markdown-content"></div>
        </div>
    </main>

    <footer>
        <div class="social-links">
            <a target="_blank" href="https://github.com/JJoosh"><i class="fab fa-github"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/joshaviles"><i class="fab fa-linkedin"></i></a>
            <a target="_blank" href="mailto:joshuaavi@proton.me"><i class="fas fa-envelope"></i></a>
        </div>
    </footer>

    <script>
        function loadMarkdown(event, file) {
            event.preventDefault();
            fetch(file)
                .then(response => response.text())
                .then(markdown => {
                    document.querySelector('.blog-posts').style.display = 'none';
                    document.getElementById('full-post').style.display = 'block';
                    document.getElementById('post-content').innerHTML = marked.parse(markdown);
                })
                .catch(error => console.error('Error al cargar el Markdown:', error));
        }

        function hideMarkdown() {
            document.querySelector('.blog-posts').style.display = 'block';
            document.getElementById('full-post').style.display = 'none';
            document.getElementById('post-content').innerHTML = '';
        }

        function toggleMenu() {
            document.getElementById('nav-links').classList.toggle('active');
        }

    </script>
</body>
</html>
