<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writeups - YukaFake</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/writeups.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav>
        <div class="menu-icon" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </div>
        <ul id="nav-links">
            <li><a href="#" onclick="loadPage(event, '../index.html')">_hello</a></li>
            <li><a href="#" onclick="loadPage(event, 'writeups.html')">_writeups</a></li>
            <li><a href="#" onclick="loadPage(event, 'blog.html')">_blog</a></li>
        </ul>
    </nav>
    <header>
        <div class="content">
            <h1>Writeups</h1>
            <p>Coming Soon</p>
        </div>
    </header>
    <main id="writeups-main">
        <!-- <section class="writeup-section">
            <h2>Future Writeup 1</h2>
            <p>Details about the future writeup 1 will be added here.</p>
        </section>
        <section class="writeup-section">
            <h2>Future Writeup 2</h2>
            <p>Details about the future writeup 2 will be added here.</p>
        </section> -->
        <!-- More sections can be added here -->
    </main>
    <div id="loading" style="display: none;">
        <div class="loader"></div>
    </div>
    <footer>
        <div class="social-links">
            <a target="_blank" href="https://github.com/JJoosh"><i class="fab fa-github"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/joshaviles"><i class="fab fa-linkedin"></i></a>
            <a target="_blank" href="mailto:joshuaavi@proton.me"><i class="fas fa-envelope"></i></a>
        </div>
    </footer>
    <script src="../js/script.js"></script>
</body>
</html>
